head
    title
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/bootstrap.js")
    