head
    title
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/styles.css")
    script(src="lib/jquery/jquery.min.js")
    script(src="js/bootstrap.js")
    script(src="lib/flip/src/flip.js")
    script(src="lib/jquery-ui/jquery-ui.js")      

    