.candidat <a href="#"><img src="img/KANDIDAT_MAINPAGE_FLIPPED.png"></a> 
.card#card-1
  .front <a href="#"><img src="img/KANDIDAT_MAINPAGE_NO_FILL_TEST.png"></a> 
  .back <a href="#"><img src="img/KANDIDAT_MAINPAGE_FLIPPED.png"></a>  
p.mainIcontext
  | Кандидаты
script(src="js/candidat.js")  
