.card#card-1
  .front <a href="#"><img src="img/KANDIDAT_MAINPAGE_NO_FILL_TEST.png"></a> 
  .back <a href="#"><img src="img/KANDIDAT_MAINPAGE_FLIPPED.png"></a>  
p.mainIcontext
  | Кандидаты
script $(function() { $('.mainCandidat').flip({ axis:"y", reverse:false, trigger: "hover", speed: 400 }); });  