.candsmall <img src="img/kand2.png" class="img-responsive">
div(class="flip-container" ontouchstart="this.classList.toggle('hover');")
  .flipper
    .front
      <img src="img/kand1.png">    	
    .back
      <img src="img/kand2.png">	
p.mainIcontext
  | Кандидаты
script(src="js/candidat.js")  
