.flagOff.show <a href="#"><img src="img/ZNACHOK_WHITE_FILL_FINAL.png"></a>
.flagOn.hide <a href="#"><img src="img/ZNACHOK_FLIPPED_FIN.png"></a>
p.mainIcontext
  | Официальные лица
script $(function(){ $('.mainFlag').mouseenter(function(){ $('.flagOff').switchClass("show", "hide", 0, "easeInOutCubic"); $('.flagOn').switchClass("hide", "show", 0, "easeInOutCubic");  }); $('.mainFlag').mouseleave(function(){ $('.flagOff').switchClass("hide", "show", 0, "easeInOutCubic"); $('.flagOn').switchClass("show", "hide", 0, "easeInOutCubic");  }); });  