footer
      div(class="navbar-fixed-bottom pagefooter")
        .footer-big 
          |© Бюро Стратегические Коммуникации, 2015. All rights reserved.  <a href="./terms.html">Правила пользования сайтом</a>.
          .pull-right | +7 (495) 649-83-74 | <a href="mailto:info@burcon.ru">info@burcon.ru</a> |
        .footer-small 
          |© Бюро Стратегические Коммуникации, 2015.
script(src="lib/slideout.js/dist/slideout.min.js")
script(src="js/menu.js")          
          

