footer
  .footmain
    .footer-big 
      div(class="mainfoot")
        p  © Бюро Стратегические Коммуникации, 2015. Дизайн, разработка: Бюро стратегический коммуникации. All rights reserved.  <a href="./terms.html" class="link_blue">Правила пользования сайтом</a>.
    .footer-small 
      |© Бюро Стратегические Коммуникации, 2015.
script(src="lib/slideout.js/dist/slideout.min.js")
script(src="js/menu.js")