footer
      div(class="navbar-fixed-bottom pagefooter") © Бюро Стратегические Коммуникации, 2015. All rights reserved.  <a href="./terms.html">Правила пользования сайтом</a>.
        .pull-right | +7 (495) 649-83-74 | info@burcon.ru |