header
    nav(class="navbar navbar-main" role="navigation")
      .navbar-header
        button(type="button" class="navbar-toggle btn-md" data-toggle="collapse" data-target=".navbar-collapse")
          <span class="sr-only">Скрыть навигацию</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        a(href="./index.html")
          |<img src="img/logonew.jpg" class="logoimg">
        .headtext
          p.mainheader
            | Бюро<br>
            | Стратегические Коммуникации
          p.mainsubhead
           span в большой политике с 2010 года  
        .headsmall
          p.mainheader Бюро Стратегические Коммуникации  
       .headsubsmall  
         p.mainsubhead
           span в большой политике с 2010 года    
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li <a href="./about.html">О бюро</a>
          li <a href="./uslugi.html">Услуги</a>
          li <a href="./contacts.html">Связаться</a>   	