div(class="navbar internalNav navbar-fixed-top")
      .container
        .navbar-header.navbar-fixed-top
          <a class="navbar-brand" href="./index.html">Bureau Babkin News</a>
          ul(class="nav navbar-nav")
            li
              | <a href="./about.html">О бюро</a>
            li
              | <a href="uslugi.html">Услуги</a>
            li
              | <a href="contacts.html">Связаться</a>