header
    nav(class="navbar navbar-main" role="navigation")
      .navbar-header
        button(type="button" class="navbar-toggle btn-md" data-toggle="" data-target=".navbar-collapse")
          <span class="sr-only">Скрыть навигацию</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        a(href="./index.html")
          |<img src="img/logonew.jpg" class="logoimg">
        .headtext
          p.mainheader
            | Бюро <br/>Стратегические <br/> Коммуникации
        p.mainheadermobile Бюро Стратегические Коммуникации  
               
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 mainhead")
        ul(class="nav navbar-nav navbar-right")
          li <a href="./about.html">О бюро</a>
          li <a href="./uslugi.html">Услуги</a>
          li <a href="./uslugi.html">Клиенты</a>
          li <a href="./uslugi.html">Новости</a>
          li <a href="./contacts.html">Контакты</a>    
        img(src="img/raso.png" class="rasologo img-responsive")  
        .main_head_social
          ul
            li
              a(href="http://www.facebook.com/burconrus/") <img src="img/fb.png">
            li
              a(href="#") <img src="img/tw.png">
            li
              a(href="#") <img src="img/insta.png"> 
            li
              a(href="#") <img src="img/yout.png">  
            li
              a(href="mailto:info@burcon.ru") <img src="img/mail1.png">
      .lang-inner-main
        a(href="#") 
          img(src="img/en.png")                          	