nav(id="menu" class="collapse navbar-collapse mobile-menu")
	ul(class="nav ")
		li <a href="./about.html">О бюро</a>
		li <a href="./uslugi.html">Услуги</a>
		li <a href="./uslugi.html">Клиенты</a>
		li <a href="./uslugi.html">Новости</a>
		li <a href="./contacts.html">Контакты</a>
	ul(class="mobile-menu-social")
		li
			a(href="http://www.facebook.com/burconrus/") <img src="img/fb.png">
		li
			a(href="#") <img src="img/tw.png">
		li
			a(href="#") <img src="img/insta.png">
		li
			a(href="#") <img src="img/yout.png">
		li
			a(href="mailto:info@burcon.ru") <img src="img/mail1.png">	