div(class="modal fade contactmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
      div(class="modal-dialog modal-lg")
        .modal-content
          a.modal_close(href="#" data-dismiss="modal")
          form(role="form" action="contact.php" method="POST")
            .form-group
              input( type="text" class="form-control input-lg" name="name" placeholder="Ваше имя (обязательно)")
              input( type="email" class="form-control input-lg" name="email" placeholder="Email (обязательно)")
              input( type="text" class="form-control input-lg" name="tel" placeholder="Телефон (опционально)")
              textarea( rows="6" class="form-control input-lg" name="message" placeholder="Текст сообщения") 
              button(type="submit" class="btn btn-primary") Отправить 