.partie <a href="./partiyam.html"><img src="img/PARTII_GRUPPA_FLIPPED.png"></a>
.iconmaincont
  .pOff.show <a href="./partiyam.html"><img src="img/PARTII_GRUPPA.png"></a>
  .pOon.hide <a href="./partiyam.html"><img src="img/PARTII_GRUPPA_FLIPPED.png"></a>
p.mainIcontext
  | Политические партии
script $(function(){ $('.mainParti1').mouseenter(function(){ $('.pOff').switchClass("show", "hide", 0, "easeInOutCubic"); $('.pOon').switchClass("hide", "show", 0, "easeInOutCubic");  }); $('.mainParti1').mouseleave(function(){ $('.pOff').switchClass("hide", "show", 0, "easeInOutCubic"); $('.pOon').switchClass("show", "hide", 0, "easeInOutCubic");  }); });  