.pOff.show <a href="#"><img src="img/PARTII_GRUPPA.png"></a>
.pOn.hide <a href="#"><img src="img/PARTII_GRUPPA_FLIP.png"></a>
p.mainIcontext
  | Политические партии
script $(function(){ $('.mainParti').mouseenter(function(){ $('.pOff').switchClass("show", "hide", 0, "easeInOutCubic"); $('.pOn').switchClass("hide", "show", 0, "easeInOutCubic");  }); $('.mainParti').mouseleave(function(){ $('.pOff').switchClass("hide", "show", 1000, "easeInOutCubic"); $('.pOn').switchClass("show", "hide", 1000, "easeInOutCubic");  }); }); 