.iconmaincont.partcont
  .pOff <a href="./partiyam.html"><img src="img/PARTII_GRUPPA.png" class="img-responsive"></a>
  .pOon <a href="./partiyam.html"><img src="img/PARTII_GRUPPA_FLIPPED.png" class="img-responsive"></a>
p.mainIcontext
  | Политические партии
