.logoimg {
	height: auto;
	float: left;
	margin-right: 40px;
	margin-bottom: 10px;
	//width: 40px;
	@media (min-width: @screen-lg){
		width: 81px;
	}
	@media (min-width: @screen-md) and (max-width: @screen-lg){
		width: 81px;
	}
	@media (max-width: @screen-md){
		width: 50px;
	}
	@media (max-width: @screen-sm){
		width: 40px;
		display: none;
	}
	@media (max-width: @screen-sm){
		width: 30px;
		margin-right: 10px;
	}
	@media (max-width: 375px) {
		width: 20px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	
}
.headtext {
	float: left;
	padding-right: 60px;
	@media (max-width: 992px) {
		padding-right: 0;
	}
	@media (max-width: 768px) {
		.mainsubhead {
			display: none;
		}
	}
	@media (max-width: 480px) {
		.mainsubhead {
			display: none;
		}
	}
}

.mainheadermobile {
	display: none;
	@media (max-width: @screen-sm) {
		display: block;
		font-size: 20px;
		padding-top: 10px;
		text-align: center;


	}
	
}
.mainheader {
	@media (max-width: 768px) {
		display: none;
	}
}

.headsmall{
	display: none;
	@media (max-width: 768px) {
		display: block;
		padding-top: 15px;
	}
	@media (max-width: 480px) {
		display: block;
	}
}
.headsubsmall{
	margin-top: 15px;
	text-align: center;
	display: none;
	@media (max-width: 768px) {
		display: block;
		padding-top: 15px;
	}
	@media (max-width: 480px) {
		display: block;
	}
	border-top: 2px solid black;
}

.navbar-main{
	padding-top: 10px;

	.navbar-toggle {
		float: left;
    	&:hover,
    	&:focus {
      		background-color: @navbar-default-toggle-hover-bg;
    	}
    	.icon-bar {
      		background-color: @navbar-default-toggle-icon-bar-bg;
    	}
    	@media (max-width: 375px) {
    		margin: 0;
    		padding: 0;
    	}
  	}
	.navbar-nav {
		padding-top: 0px;
		//margin-left: 150px;
		//background: #eee;
		li {
			a {
				&:hover {
					background-color: #fff !important;
					text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.89);
				}
				padding: 10px 10px;
				@media (min-width: @screen-lg) {
					padding: 10px 35px;
				}
				@media (min-width: @screen-md) and (max-width: @screen-lg) {
					padding: 10px 10px;
				}
				&:last-child {
					padding-right: 0px;
				}
			}
		}
		@media (max-width: @screen-sm){
			width: 100%;
			li {
				border-top: 1px solid black;
			}
		}
		a {
			font-family: @font-family-sans-serif-med;
			font-size: 20px;
			@media (min-width: @screen-lg) {
				font-size: 23px;
			}
			@media (min-width: @screen-md) {
				font-size: 18px;
			}
		}
	}
}
.lang, .main_head_social {
  text-align: right;
}
.lang {
	padding-top: 5px;
	a {
		font-family: @font-family-sans-serif-head;
		@media (min-width: @screen-lg) {
				font-size: 23px;
			}
	}
}
.main_head_social {
	ul {
		padding-top: 15px;
		li {
			list-style: none;
			display: inline;
			padding-right: 10px;
			&:last-child {
				padding-right: 0;
			}
		}
	}
	@media (max-width: @screen-sm){
		display: none;
	}
}
.lang-inner-main {
	.lang-inner;
		top: 10px !important;
		right: 15px !important;
		@media (max-width: @screen-sm){
			right: 0 !important;
			width: 27px;
			height: auto;
		}
	}
