/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@analytical-name: 'analytical';
@analytical-x: 0px;
@analytical-y: 0px;
@analytical-offset-x: 0px;
@analytical-offset-y: 0px;
@analytical-width: 320px;
@analytical-height: 204px;
@analytical-total-width: 960px;
@analytical-total-height: 612px;
@analytical-image: 'sprite.png';
@analytical: 0px 0px 0px 0px 320px 204px 960px 612px 'sprite.png' 'analytical';
@branding-name: 'branding';
@branding-x: 320px;
@branding-y: 0px;
@branding-offset-x: -320px;
@branding-offset-y: 0px;
@branding-width: 320px;
@branding-height: 204px;
@branding-total-width: 960px;
@branding-total-height: 612px;
@branding-image: 'sprite.png';
@branding: 320px 0px -320px 0px 320px 204px 960px 612px 'sprite.png' 'branding';
@creative-name: 'creative';
@creative-x: 0px;
@creative-y: 204px;
@creative-offset-x: 0px;
@creative-offset-y: -204px;
@creative-width: 320px;
@creative-height: 204px;
@creative-total-width: 960px;
@creative-total-height: 612px;
@creative-image: 'sprite.png';
@creative: 0px 204px 0px -204px 320px 204px 960px 612px 'sprite.png' 'creative';
@dig-media-name: 'dig_media';
@dig-media-x: 320px;
@dig-media-y: 204px;
@dig-media-offset-x: -320px;
@dig-media-offset-y: -204px;
@dig-media-width: 320px;
@dig-media-height: 204px;
@dig-media-total-width: 960px;
@dig-media-total-height: 612px;
@dig-media-image: 'sprite.png';
@dig-media: 320px 204px -320px -204px 320px 204px 960px 612px 'sprite.png' 'dig_media';
@event-man-name: 'event_man';
@event-man-x: 0px;
@event-man-y: 408px;
@event-man-offset-x: 0px;
@event-man-offset-y: -408px;
@event-man-width: 320px;
@event-man-height: 204px;
@event-man-total-width: 960px;
@event-man-total-height: 612px;
@event-man-image: 'sprite.png';
@event-man: 0px 408px 0px -408px 320px 204px 960px 612px 'sprite.png' 'event_man';
@izbir-name: 'izbir';
@izbir-x: 320px;
@izbir-y: 408px;
@izbir-offset-x: -320px;
@izbir-offset-y: -408px;
@izbir-width: 320px;
@izbir-height: 204px;
@izbir-total-width: 960px;
@izbir-total-height: 612px;
@izbir-image: 'sprite.png';
@izbir: 320px 408px -320px -408px 320px 204px 960px 612px 'sprite.png' 'izbir';
@polit-consult-name: 'polit_consult';
@polit-consult-x: 640px;
@polit-consult-y: 0px;
@polit-consult-offset-x: -640px;
@polit-consult-offset-y: 0px;
@polit-consult-width: 320px;
@polit-consult-height: 204px;
@polit-consult-total-width: 960px;
@polit-consult-total-height: 612px;
@polit-consult-image: 'sprite.png';
@polit-consult: 640px 0px -640px 0px 320px 204px 960px 612px 'sprite.png' 'polit_consult';
@press-sluzhba-name: 'press_sluzhba';
@press-sluzhba-x: 640px;
@press-sluzhba-y: 204px;
@press-sluzhba-offset-x: -640px;
@press-sluzhba-offset-y: -204px;
@press-sluzhba-width: 320px;
@press-sluzhba-height: 204px;
@press-sluzhba-total-width: 960px;
@press-sluzhba-total-height: 612px;
@press-sluzhba-image: 'sprite.png';
@press-sluzhba: 640px 204px -640px -204px 320px 204px 960px 612px 'sprite.png' 'press_sluzhba';
@prgr-name: 'prgr';
@prgr-x: 640px;
@prgr-y: 408px;
@prgr-offset-x: -640px;
@prgr-offset-y: -408px;
@prgr-width: 320px;
@prgr-height: 204px;
@prgr-total-width: 960px;
@prgr-total-height: 612px;
@prgr-image: 'sprite.png';
@prgr: 640px 408px -640px -408px 320px 204px 960px 612px 'sprite.png' 'prgr';
@spritesheet-width: 960px;
@spritesheet-height: 612px;
@spritesheet-image: 'sprite.png';
@spritesheet-sprites: @analytical @branding @creative @dig-media @event-man @izbir @polit-consult @press-sluzhba @prgr;
@spritesheet: 960px 612px 'sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~` "../img/" + "@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
