doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2 О бюро
        .row
          div(class="col-xs-4")
            <img src="img/BBN_LOGO_BIG.png"> 
          div(class="col-xs-8 about")
            p <strong>Bureau Babkin News</strong> — российский коммуникационный консалтинг, основанный в Москве в 2015 году. 
            p Мы специализируемся на помощи официальным лицам, политическим партиям, государственным структурам и кандидатам на выборные должности выстраивать публичную деятельность и реализовывать политические проекты.
            p Наша команда - это специалисты разного профиля, имеющие практический опыт работы с первыми лицами государственной службы и бизнеса в части политического консультирования, PR, цифровых технологий, проектного и организационного менеджмента. Нас объединяет стержневая квалификация, выраженная в творческом складе ума и заинтересованность развиваться в политике.
            p Наша миссия - сделать российскую политику ярче, интереснее, понятнее и доступнее.
            p География проекта охватывает Российскую Федерацию, страны СНГ и ближнего зарубежья. 
            p Бюро признает высокую ответственность перед своими клиентами, что выражается в нашей стратегии, которая строится на современных подходах и решениях в области политики и развития регионов РФ. 
            p Наши партнёры – это представители академических кругов, общественные, некоммерческие объединения, научные центры и ведущие российские ВУЗы. 

            p <a href="job.html">Работа и стажировки в бюро</a>
    include partials/footer_inner_fixed.jade  