doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    div(class="navbar internalNav navbar-fixed-top")
      .container
        .navbar-header.navbar-fixed-top
          <a class="navbar-brand" href="#">Bureau Babkin News</a>
          ul(class="nav navbar-nav")
            li
              | <a href="#">О бюро</a>
            li
              | <a href="#">Услуги</a>
            li
              | <a href="#">Связаться</a>
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2 О бюро
        .row
          div(class="col-xs-4")
            <img src="img/BBN_LOGO_BIG.png"> 
          div(class="col-xs-8 about")
            p <strong>Bureau Babkin News</strong> — многопрофильный коммуникационный сервис для политиков. 
            p Мы помогаем партиям, официальным лицам и кандидатам на выборные должности выстраивать публичную деятельность и реализовывать политические проекты. 
            p Сотрудники компании — это разноплановые специалисты имеющие опыт работы в различных отраслях полезных для политики.
            p География Бюро охватывает РФ, СНГ и страны ближнего зарубежья.
            p Мы специализируемся на экспертных политических консультациях, ведении избирательных кампаний, разработке стратегий публичной деятельности персоны и партии.
            p Нам интересно работать над проектами любой сложности от идеи до практической реализации. 
            p Используя классические и инновационные методы  в области связей с общественостью, социологии, политических  технологий, мы стараемся не стоять на месте, находить новые грани в профессии.
            p Динамично развиваясь, мы стремимся стать лучшими в российском политическом консультировании и стремимся сделать мир политики ярче, интереснее, понятнее и доступнее.
    footer
      div(class="navbar-fixed-bottom pagefooter") 
        div(class="col-xs-6") © Bureau Babkin News, 2015. All rights reserved. Правила пользования сайтом.     
        div(class="col-xs-6 footRighttext") <a href="job.html">Работа и стажировки в бюро</a>