doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/mobile_menu.jade
    div(id="panel")
      include partials/head_inner.jade
      div(class="container longPageCont")
        div(class="col-sm-10 col-sm-offset-1")
          .textitem
            .row
              div(class="col-md-12")
                h2 О нас
            .row
              div(class="col-md-12 about")
                p <strong>«Бюро Стратегические Коммуникации»</strong> — агентство по связям с общественностью полного цикла, основанное в Москве группой профессионалов, ранее работавших в политических и бизнес-структурах, органах государственной власти. Мы объединились для того, чтобы, используя опыт, компетенции и экспертизу каждого из членов нашей команды, вместе выйти на качественно новый уровень и стать одним из лидеров медиарынка.
                h3 Наша команда 
                p С нами работают высококлассные специалисты в области политического консультирования, PR, цифровых технологий, проектного и организационного менеджмента, имеющие богатый практический опыт работы с первыми лицами органов государственной власти, политических партий, бизнес-структур. Нас объединяет стержневая квалификация, выраженная в творческом складе ума и заинтересованность развиваться в политике.
                h3 Наши принципы
                p <strong><i>Надежность:</i></strong> клиенты могут быть уверены в наших компетенциях, а мы уверены в том, что наши взаимоотношения станут долгосрочными.
                p <strong><i>Системность:</i></strong> наш опыт позволяет в ходе реализации проектов использовать широкий набор инструментов и методов для достижения желаемого результата.
                p <strong><i>Нацеленность на результат:</i></strong> мы не затягиваем реализацию проектов и отказываемся от новых предложений, если наши специалисты уже полностью загружены.
                p <strong><i>Ответственность:</i></strong> вся информация, получаемая Бюро, остается в Бюро и не передается третьим лицам ни под каким предлогом.
                p <strong><i>Динамичность:</i></strong> медиарынок быстро меняется, и мы умеем подстраиваться под его изменения, предлагая нашим клиентам самые современные технологии.
                h3 Наша миссия
                p «Бюро Стратегические Коммуникации» призвано сделать российскую политику ярче, интереснее, понятнее и доступнее.
                h3 Наши клиенты
                p Мы помогаем органам государственной и муниципальной власти, политическим партиям и кандидатам на выборные должности выстраивать публичную деятельность и реализовывать политические проекты.
                p Мы обеспечиваем качественное взаимодействие между миром бизнеса и государственными структурами.
                p Наши клиенты работают как в Москве, так и в регионах России, странах СНГ и ближнего зарубежья.
                h3 Наши партнёры 
                p Мы имеем хорошо налаженные долгосрочные отношения с представителями экспертных и академических кругов, общественными организациями, фондами и объединениями, научными центрами и ведущими российскими ВУЗами, представительствами других стран в Москве и других городах России и российскими посольскими и консульскими организациями за рубежом.
                h3 Реализованные проекты: 
                p <strong><i>Избирательные кампании:</i></strong> Губернаторов, депутатов Государственной Думы, мэров городов, депутатов региональных и городских парламентов и последующее сопровождение их публичной деятельности.
                p <strong><i>Информационно-аналитическое сопровождение (самые крупные):</i></strong> глубоководной экспедиция на озеро Байкал, работа депутатского корпуса ГД в ходе событий в Южной Осетии и Абхазии (2008 г.), участие депутатов ГД в ликвидации последствий наводнения в Крымске (Краснодарский край, 2012 г.), процесс гуманизации уголовного законодательства РФ, продвижение темы социального предпринимательства в РФ, участие не сырьевого бизнеса России в процесс адаптации к экономике Крыма, подготовка материалов для госсовета по МСП. 
                p <strong><i>Сотрудничество с политическими партиями и общественными объединениями:</i></strong> организация съездов, мероприятий, молодежных движений, событий, дискуссионных клубов. 
                p <strong><i>Участие в подготовке и организации форумов:</i></strong> Санкт-Петербурга, Сочи, Красноярска, «Зауралье» и некоторых международных фестивалей. 
                p Позиционирование культурных, исторических объектов и территорий в регионах РФ.  
                p Организация и освещение корпоративных игр и мероприятий для госкорпораций. 
                p <strong>Руководство компании</strong> «Бюро Стратегические Коммуникации» входит в состав Комитета по политическим технологиям российской ассоциации по связям с общественностью (РАСО). 
   
     
              .pull-right.about-text
                p <a href="job.html">Работа и стажировки в бюро</a>
      include partials/footer_inner_fixed.jade  