doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-sm-10 col-sm-offset-1 col-xs-12")
        .textitem
          .row
            div(class="col-sm-4 pagehead")
              h2
                |аналитика и прогнозирование
          .row
            div(class="col-sm-4 pageimage")
              <img src="img/analit-big1.jpg" class="img-responsive"> 
            div(class="col-sm-8")
              p.bigFl
                |Понимание ситуации — залог успеха любого проекта. Именно поэтому мы уделяем огромное внимание подготовке аналитических материалов, разработке и проведению исследований, прогнозированию ситуации. Базис нашей работы — это комплексные междисциплинарные исследования, качественный анализ политических рисков, мониторинг и прогнозирование политической ситуации в России и за рубежом.  Среди сотрудников бюро кандидаты и доктора наук, профессора и преподаватели ведущих российских ВУЗов. Мы не экономим на исследованиях, потому что они закладывают фундамент будущего успеха. Мы гарантируем, что наши клиенты будут располагать самой свежей информацией в рамках реализуемого проекта.
              p Кроме того, мы готовим аналитические обзоры, мониторинги политической ситуации, исследования корпоративной культуры, мониторинги СМИ, комплексные региональные исследования, анализ рейтингов региональных лидеров.
  
            .pull-right 
              a(href="./uslugi.html") ← К списку услуг           
    include partials/footer_inner_fixed.jade     