doctype html
html
  include partials/cab_head.jade
  body
    div(class="clients_cont container ")
      include partials/head_inner.jade       
      .news_main_head_inner
        h2 
          |Аналитика Б.С.К.
          sup Архив материалов
      
      .row.analyt-grid-cont
        .col-md-3.col-sm-4.col-xs-6.grid-item
          .grid-posts-analityc-item-data 11.03.2016
          .grid-img
            img(src="img/post1.jpg" class="")
          p Партнеры БСК о вопросах международной безопасности    
        .col-md-3.col-sm-4.col-xs-6.grid-item
          .grid-posts-analityc-item-data 11.03.2016
          .grid-img
            img(src="img/post1.jpg" class="")
          p Партнеры БСК о вопросах международной безопасности
        .col-md-3.col-sm-4.col-xs-6.grid-item
          .grid-posts-analityc-item-data 11.03.2016
          .grid-img
            img(src="img/post1.jpg" class="")
          p Партнеры БСК о вопросах международной безопасности
        .col-md-3.col-sm-4.col-xs-6.grid-item
          .grid-posts-analityc-item-data 11.03.2016
          .grid-img
            img(src="img/post1.jpg" class="")
          p Партнеры БСК о вопросах международной безопасности
        .col-md-3.col-sm-4.col-xs-6.grid-item
          .grid-posts-analityc-item-data 11.03.2016
          .grid-img
            img(src="img/post1.jpg" class="")
          p Партнеры БСК о вопросах международной безопасности

    div(class="maincont container")  
      include partials/footer_inner_fixed.jade         