doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |аналитическая поддержка
        .row
          div(class="col-xs-4")
            <img src="img/analytical_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Аналитическая поддержка используется для того, чтобы разработать политическую стратегию и определить, как и каким образом клиент может внести свой вклад в политический процесс. Аналитическая поддержка дает возможность найти новые направления для политического роста, а также выявить проблемы, которые могут встретиться на пути. Базис нашей работы - это комплексные исследования, анализ политических рисков, мониторинг и прогнозирование политической ситуации в России и за рубежом. Мы гарантируем то, что наши клиенты будут вооружены самой свежей информацией по интересующей тематике.          
    include partials/footer_inner_fixed.jade     