doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |брендинг территорий
        .row
          div(class="col-xs-4")
            <img src="img/branding_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы помогаем регионам искать новые статьи для наполнения бюджетов. Создание бренда играет определяющую роль на рынке переполненном конкуренцией. Именно поэтому наша стратегия связана с поиском наиболее удачных решений и технологий для того, чтобы выделить сильные стороны нашего клиента, заставить по-новому взглянуть на родные места, привлечь инвесторов и туристов.       
    include partials/footer_inner_fixed.jade     