doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-sm-10 col-sm-offset-1 col-xs-12")
        .textitem
          .row
            div(class="col-sm-4 pagehead")
              h2
                |Маркетинг территорий
          .row
            div(class="col-sm-4 pageimage")
              <img src="img/brandingbig1.jpg" class="img-responsive"> 
            div(class="col-sm-8")
              p.bigFl
                |Маркетинг территорий — новый для России вид деятельности, нацеленный на повышение инвестиционной и туристической привлекательности территориальных образований. Мы разрабатываем бренды областей, городов, районов, культурных и исторических памятников, организуем маркетинговые кампании, обеспечиваем публикации в СМИ и блогосфере,  ведем системную работу по привлечению туристических потоков на территории, с которыми мы работаем. Мы определяем конкурентные преимущества и помогаем нашим клиентам рассказать о них своим целевым аудиториям, установить качественную коммуникацию с прессой и экспертным сообществом. Для каждой территории разрабатывается полноценная стратегия с кратко-,средне- и долгосрочными целями и задачами, развитым инструментарием и понятными критериями результативности работы. Актуальность маркетинга территорий подтверждается содержанием Концепции долгосрочного социально-экономического развития РФ до 2020 года, которая придает важное значение привлечению инвестиций и развитию туристической сферы. Данное направление иметь решающее значение для будущего регионов, например, таких, как Дальний Восток.
            .pull-right 
              a(href="./uslugi.html") ← К списку услуг            
    include partials/footer_inner_fixed.jade     