doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |брендироварие территорий
        .row
          div(class="col-xs-4")
            <img src="img/branding_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |В  условиях кризиса,  когда между регионами идет настоящая битва за копейку из федерального бюджета и инвесторов, особое значение приобретает задача поиска альтернативных и не завязанных на промышленный или сельскохозяйственный потенциал источников доходов.<br>Одним из таких источников является туризм, и продвижение его потенциала становится полноценным направлением деятельности по брендированию территорий — наряду с задачами по привлечению  инвестиций или борьбой за бюджетную копейку.<br>Не углубляясь в рассуждения о разновидностях туризма, можно сказать, что важнейшим направлением деятельности в этой сфере является туризм культурный. То есть направленный на привлечение туристического потока к объетам культурного наследия и в места, где проходят значимые культурные мероприятия.       
    include partials/footer_inner_fixed.jade     