doctype html
html(lang="ru")
  include partials/cab_head.jade
  script(src="js/map.js")
  body
    include partials/head_inner.jade
    div(class="container textPageCont contactpage")
      div(class="col-md-10 col-md-offset-1")
        .row
          h1.contacthead Для связи с бюро
          div(class="col-md-8")
            p 
              |<strong>123317 Москва, Пресненская наб., д. 8 стр. 1 <br>ММДЦ «Москва-Сити», МФК «Город Столиц»</strong>
            p
              strong +7 (495) 649-83-74 
            p
              strong 
              a(href="mailto:info@burcon.ru") info@burcon.ru  

            h2 Карта:  
            div(id="map-canvas")
            p 
              |Офис бюро «Стратегические коммуникации» работает с понедельника по пятницу с 9:00 до 18:00.       
          div(class="col-md-4")
            p
              |Наиболее удобный способ связи с Бюро—наша форма обратной связи. Воспользовавшись ей, вы можете заказать предварительную консультацию и получить оперативный комментарий относительно услуг бюро и возможных направлений сотрудничества. 
            p Для того, чтобы оперативно связаться с Бюро Стратегические Коммуникации, нажмите на кнопку:
           div(class="col-md-4 buttoncont")
             a(href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target=".contactmodal") Написать
    include partials/modal_contact.jade        
    include partials/footer_inner_fixed.jade    