doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    div(class="navbar internalNav navbar-fixed-top")
      .container
        .navbar-header.navbar-fixed-top
          <a class="navbar-brand" href="#">Bureau Babkin News</a>
          ul(class="nav navbar-nav")
            li
              | <a href="#">О бюро</a>
            li
              | <a href="#">Услуги</a>
            li
              | <a href="#">Связаться</a>
    div(class="container textPageCont contactpage")
      .row
        h1.contacthead Для связи с бюро
        div(class="col-md-4")
          p 
            |<strong>Bureau Babkin News</strong> г. Москва, 113 543, ул. Льва Толстого д. 15 строение 1/142<br>+7 (495) 234-35-12 <br> inquiries@babkin-news.ru
          h2 Карта:  
        div(class="col-md-4 col-md-offset-4")
          p
            |Наиболее удобный способ связи с бюро—наша форма обратной связи. Воспользовавшись ей, вы можете заказать предварительную консультацию и получить оперативный комментарий относительно услуг бюро и возможных направлений сотрудничества. Для того, чтобы оперативно связаться с Bureau babkin News, нажмите на кнопку:
      .row
        div(class="col-md-8") 
          div(id="map-canvas")
          p 
            |Офис Bureau Babkin News на ул. Такой-то работает с таких-то по такие часы, но рекомендуется приходить по предварительной записи, например. Секретать Бюро Борис Шлипкенбойк. 
         div(class="col-md-4 buttoncont")
           a(href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target=".contactmodal") Написать бюро
    include partials/modal_contact.jade        
    footer
      div(class="navbar-fixed-bottom pagefooter") © Bureau Babkin News, 2015. All rights reserved. Правила пользования сайтом.     