doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |creative centre
        .row
          div(class="col-xs-4")
            <img src="img/creative_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Для нас поиск ключей к успеху наших клиентов является определяющим фактором нашей работы. Именно поэтому мы используем весь накопленный инструментарий и опыт для создания продукта, который будет удовлетворять потребности наших клиентов и их аудиторий.        
    include partials/footer_inner_fixed.jade     