doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-sm-10 col-sm-offset-1 col-xs-12")
        .textitem
          .row
            div(class="col-sm-4 pagehead")
              h2
                |КРЕАТИВНЫЙ ЦЕНТР
          .row
            div(class="col-sm-4 pageimage")
              <img src="img/creativebig1.jpg" class="img-responsive"> 
            div(class="col-sm-8")
              p.bigFl
                |Зачастую для того, чтобы добиться успеха, компании или политику необходим свежий профессиональный взгляд со стороны. Внешний аудит позволяет не только выявить недочеты, но и разработать новые решения. Часто именно независимая компания предлагает наиболее творческие, инновационные решения, позволяющие эффективно добиться поставленных целей. Творческий потенциал Бюро позволяет нашим клиентам быть уверенными в том, что их избирательные и маркетинговые кампании, коммуникации с избирателями, органами государственной власти и медиасообществом будут иметь яркий, креативный и современный характер, будут избавлены от избитых штампов и клише, и, возможно, со временем войдут в профильные учебники для будущих поколений и профессиональных сообществ.
            .pull-right 
              a(href="./uslugi.html") ← К списку услуг             
    include partials/footer_inner_fixed.jade     