doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |creative centre
        .row
          div(class="col-xs-4")
            <img src="img/creative_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Никто не застрахован от внезапного кризиса идей. И политики-новички, и зрелые тяжеловесы находятся под постоянным давлением: избиратели, властные структуры и коллеги ждут хлеба и зрелищ. Но иногда сгенерировать свежую идею, предложить неожиданное решение или проект оказывается самым сложным. «Я же столько раз это делал!» — говорите вы себе, но муза, кажется, не слышит.<br>Бюро Babkin News — не музы, но нестандартные подходы близки и нам. Если вас оставило политическое вдохновение, знайте: мы не будем спать ночами, пока не предложим вам то самое —  идею, жест, высказывание, новую программу или проект, — что откроет перед вами новые горизонты политической деятельности.        
    include partials/footer_inner_fixed.jade     