doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |digital media
        .row
          div(class="col-xs-4")
            <img src="img/media_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Всем давно очевидно, что не только будущее, но уже и настоящее находится в цифровом пространстве. Именно там происходит наиболее активная общественная дискуссия и формируются мнения, впоследствии влияющие на направления развития современной политики. По сути интерет в последнее время стал такой же неотъемлемой частью жизни как Bureau Babkin News возьмет на себя заботу о вашем цифровом имидже: мы поможем вам создать персональный сайт, сайт кампании, оживим вашу активность в социальных сетях, в целом, найдем и используем нетривиальные подходы к выстраиванию вашего положительного имиджа в интернете.    
    include partials/footer_inner_fixed.jade     