doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-sm-10 col-sm-offset-1 col-xs-12")
        .textitem
          .row
            div(class="col-sm-4 pagehead")
              h2
                |digital media
          .row
            div(class="col-sm-4 pageimage")
              <img src="img/dig_mediabig1.jpg" class="img-responsive"> 
            div(class="col-sm-8")
              p.bigFl
                |Интернет-пространство и социальные медиа стали частью нашей повседневной жизни, площадкой для заявления о себе и своих проектах. В сети формируется активная общественная дискуссия. Мы разрабатываем и ведем онлайн платформы для того, чтобы сформировать структурный, проектный или личностный цифровой имидж. Сотрудники Бюро Стратегических Коммуникаций помогут наладить рост популярности в интернете и предупредят о социальных настроениях. Важнейшую роль в данном случае играет качество контента, который специфичен для каждого виртуального сообщества. Бюро профессионально создает целевой контент для онлайн-аудитории и доносит его до конечного потребителя. 
              p Наши Digital компетенции: разработка и реализация стратегий в интернете; рекламные, информационные и PR кампании в цифровых медиа, SEO и PPC, SMM и SMO, аудит онлайн-медиа, управление онлайн-сообществами и контент-менеджмент.
              p Наш Digital функционал: создание сайтов, автоматизированный мониторинг онлайн-медиа, управление аккаунтами в онлайн-сообществах, вирусные акции, запуск и развитие целевых сообществ, создание блогов, разработка приложений для мобильных устройств и планшетов. Наши клиенты представлены в социальных сетях, успешно создают и с нашей помощью продвигают правильный контент для специфических условий новых медиа и точечно работают со целевой аудиторией.

            .pull-right 
              a(href="./uslugi.html") ← К списку услуг   
    include partials/footer_inner_fixed.jade     