doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |digital media
        .row
          div(class="col-xs-4")
            <img src="img/media_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Цифровые инструменты полностью интегрированы в нашу повседневную жизнь. Интернет пространство и социальные медиа стали эффективной площадкой для заявлении о себе.  В сети формируется активная общественная дискуссия и ведется работа с целевой аудиторией. Мы разрабатываем и ведем онлайн платформы для того, чтобы сформировать структурный, проектный или личностный цифровой имидж и заставить ваш месседж быть услышанным. Сотрудники Бюро помогут наладить рост популярности в Интернете и предупредят о социальных кризисах и рисках. 
    include partials/footer_inner_fixed.jade     