doctype html
html
    include partials/cab_head.jade
    body
      div(class="maincont container")
        include partials/head_main.jade
        .row
          .textslider
            div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
              div(class="carousel-inner")
                div(class="item active")
                  |Создаем информационные и избирательные кампании
                
                
        .row
          div(class="col-xs-12")
            div(id="carousel-example-generic-geo" class="carousel slide bannermain" data-ride="carousel")
              div(class="carousel-inner")
                div(class="item active")
                  <img src="img/primakov.jpg">
                  div(class="carousel-caption")
                    h1 Разворот над Атлантикой
                    p 24 марта 1999 года глава правительства РФ Евгений Примаков, летевший с официальным визитом в США, развернул над океаном свой самолет и вернулся в Москву в знак протеста против начала бомбардировок Югославии. Этот жест вошел в историю международных отношений и навсегда закрепил за Е.М.Примаковым статус волевого политика способного на принятие жестких решений в интересах Российской Федерации. 
                div(class="item")
                  <img src="img/putin.jpg">
                  div(class="carousel-caption lefttextslide")
                    h1 Мюнхенская речь
                    p Знаменитая речь Президента РФ В.В.Путина на Мюнхенской конференции по вопросам политики безопасности произнесенная 10 февраля 2007 года. Речь была посвящена вопросам глобальной безопасности и призывам покончить с однополярным миром. Выступление В.В.Путина послужило началом широкомасштабной дискуссии в западных кругах о продолжении «холодной войны»
                div(class="item")
                  <img src="img/khrushev.jpg">
                  div(class="carousel-caption")
                    h1 Хрущев и «Кузькина Мать»
                    p Идиома «кузькина мать» неоднократно использовалась Н.С.Хрущевым во время публичных выступлений и переговоров с зарубежными партнёрами, например, 1960 году на 15-й Ассамблее ООН фраза, произнесенная с высокой трибуны ввела в замешательство участников Ассамблеи. В последствии именно так стали называть атомные бомбы СССР и воспринимали придуманную Н.С.Хрущевым «Кузькину мать» как нечто зловещее.
              .prev
                a(class="left carousel-control" href="#carousel-example-generic-geo" data-slide="prev")
                  <img src="img/prew-white.png">
              .next
                a(class="right carousel-control" href="#carousel-example-generic-geo" data-slide="next")
                  <img src="img/next-white.png">        
        .row
          div(class="col-xs-12")
            .news_main_head
              h2 Новости и аналитика
          div(class="col-xs-8")
            .main_post
              img(src="img/post1.jpg" class="img-responsive")
              .black-gradient
              .main_post_head   
                h3 Партнеры БСК о вопросах международной безопасности
                p Партнеры БСК о вопросах международной безопасностиAnt dollaciunt laccaest, sa nem nonsequ ibusam corum nonsedi occuptur? Qui offici doluptat.  
            .row
              div(class="col-xs-6")
                .small_post
                  img(src="img/small1.jpg" class="img-responsive")
                  .orange-gradient
                  .main_post_head   
                    h3 Партнеры БСК о вопросах международной безопасности 
                .small_post_date 19.11.2015   
              div(class="col-xs-6")  
                .small_post 
                  img(src="img/news_left.jpg" class="img-responsive")
                  .blue-gradient
                  .main_post_head   
                    h3 Партнеры БСК о вопросах международной безопасности
                .small_post_date 19.11.2015  
            .row
              div(class="col-xs-6")
                .orangeButton
                  a(class="btn btn-primary" href="#" role="button") Больше аналитики
              div(class="col-xs-6")
                .blueButton
                  a(class="btn btn-primary" href="#" role="button") Рассылка Б.С.К.    
          div(class="col-xs-4 news_right")
            div(class="news_right_item")
              img(src="img/news_left.jpg" class="img-responsive")
              h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
              .news_right_item_date 18.09.2015
              p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
            div(class="news_right_item" )
              img(src="img/news_left.jpg" class="img-responsive")
              h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
              .news_right_item_date 18.09.2015
              p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
            div(class="news_right_item")
              img(src="img/news_left.jpg" class="img-responsive")
              h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
              .news_right_item_date 18.09.2015
              p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
            div(class="news_right_item")
              img(src="img/news_left.jpg" class="img-responsive")
              h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
              .news_right_item_date 18.09.2015
              p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.   
                             
      div(class="container geo")                   
        .geocont-1.margin-bottom-40
          .logo-w
            img(src="img/logo-white.png")
          .tiser-text В большой политике с 2010 года    
              
        
        div(class="maincont container")
        .row
          div(class="col-xs-12 main_social")
            .main_social_icons
              ul
                li
                  a(href="#") <img src="img/fb.png">
                li
                  a(href="#") <img src="img/tw.png">
                li
                  a(href="#") <img src="img/insta.png"> 
                li
                  a(href="#") <img src="img/yout.png">
                li
                  a(href="mailto:info@burcon.ru") <img src="img/mail2.png">      
            p.social_text | <span class="text_orange">+ 7 (916) 512-12-23</span> | <a href="mailto:info@burcon.ru" class="link_blue">info@burcon.ru</a> |      
        .row
          div(class="col-xs-10 col-xs-offset-1")
            .seotext
              p <strong>Бюро Стратегические Коммуникации</strong> – агентство по связям с общественностью, специализирующееся в области политических коммуникаций и GR. Агентство образовано командой специалистов в области политконсалтинга, имеющих богатый опыт разработки и реализации предвыборных и информационных кампаний. 
              p В портфолио команды Бюро Стратегических Коммуникаций есть успешные предвыборные кампании федерального (кампании губернаторов, сенаторов, депутатов, продвижение отделений крупнейших российских политических партий) и муниципального уровня (кампании мэров и кандидатов в муниципальные законодательные собрания), успешно реализованные мероприятия по информационному сопровождению деятельности федеральных и региональных органов власти, губернаторов, проектов под эгидой Государственной Думы, Совета Федерации и Правительства РФ. 
              p В своей деятельности Бюро Стратегические Коммуникации использует современные политические и медиа- технологии, обеспечивает продвижение клиентов в традиционных и интернет-СМИ, включая социальные медиа и digital технологии, осуществляет полное организационное и информационное обеспечение предвыборных кампаний, в том числе избирательный штаб, информационно-пропагандистские мероприятия политических партий и кандидатов по одномандатным округам, других политических и информационных проектов. 
              p Возможности Бюро Стратегических коммуникаций позволяют реализовывать проекты в сфере Government Relations, включая продвижение инициатив (лоббирование) и формирование позитивного имиджа клиента на федеральном и региональном уровне. Миссия Бюро Стратегических Коммуникаций – развивать российскую политическую систему, делать политику ярче, интереснее и доступнее осуществлять это через классические и современный инструменты политических технологий.
              .bottomLogo  
                img(src="img/raso.png")    
      
        footer
          .row.footmain
            .footer-big 
              div(class="col-xs-12 mainfoot")
                p  © Бюро Стратегические Коммуникации, 2015. Дизайн, разработка: Бюро стратегический коммуникации. All rights reserved.  <a href="./terms.html" class="link_blue">Правила пользования сайтом</a>.
            .footer-small 
              |© Бюро Стратегические Коммуникации, 2015.    
      include partials/modal_contact.jade 
script $(function(){ $('#carousel-example-generic').carousel({interval: 5000}); $('#carousel-example-generic-geo').carousel({interval: 10000}) });             