doctype html
html
    include partials/cab_head.jade
    body
      div(class="maincont container")
        header
          .row
            div(class="col-xs-12")
              <a href="#"><img src="img/logo.jpg"></a>
          .row
            div(class="col-xs-12")
              p.mainheader
                | Bureau Babkin News
              p.mainsubhead
                | политический консалтинг 
           .row
             div(class="col-xs-12")
               nav.navbar
                 ul(class="nav navbar-nav")
                   li
                     | <a href="#">О бюро</a>
                   li
                     | <a href="#">Услуги</a>
                   li
                     | <a href="#">Связаться</a>       
           .row
             div(class="col-xs-12")
               p.whoWhom
                 span
                   | для кого мы работаем:
               div(class="col-xs-4 mainCandidat")
                 include partials/candidFlip.jade 	
               div(class="col-xs-4 mainFlag")
                 include partials/flag.jade   	
               div(class="col-xs-4 mainParti")
                 include partials/parties.jade
               .clearfix     
           .row
             footer  
               div(class="navbar-fixed-bottom") © Bureau Babkin News, 2015. All rights reserved. Правила пользования сайтом.      