doctype html
html
    include partials/cab_head.jade
    body
      div(class="maincont container")
        header
          .row.bordered-top
            div(class="col-xs-7")
              <a href="./index.html" ><img src="img/logonew.jpg" class="logoimg"></a>
              .headtext
                p.mainheader
                  | Бюро<br>
                  | Стратегические Коммуникации
                p.mainsubhead
                  span  
                    | в большой политике с 2010 года  
            div(class="col-xs-5")
              nav.navbar
               ul(class="nav navbar-nav")
                 li
                   | <a href="./about.html">О бюро</a>
                 li
                   | <a href="./uslugi.html">Услуги</a>
                 li
                   | <a href="./contacts.html">Связаться</a>    
         
        .row
          div(class="col-xs-12").textslider
            div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
              div(class="carousel-inner")
                div(class="item active")
                  <img src="img/dep.jpg">
                div(class="item")
                  <img src="img/majors.jpg">
                div(class="item")
                  <img src="img/gub.jpg"> 
        .row
          div(class="col-xs-12").whoWhom
            |Для кого мы работаем

        .row
          div(class="col-xs-4 mainCandidat1" onclick="location.href='./kandidatam.html'")
            include partials/candidFlip.jade 	
          div(class="col-xs-4 mainFlag1")
            include partials/flag.jade   	
          div(class="col-xs-4 mainParti1")
            include partials/parties.jade
        .row
          div(class="col-xs-8 col-xs-offset-2").bordered-bottom-small
            .mainH2
              | Клиенты бюро:
        .row.clientscont
          div(class="col-xs-8 col-xs-offset-2")      
            .col-xs-3
              .partlogo
                <img src="img/er.png">
              .caption 
                |Всероссийская политическая партия «Единая Россия» 
            .col-xs-3
              .partlogo
                <img src="img/kprf.png">
              .caption 
                |Коммунистическая партия Российской Федерации
            .col-xs-3
              .partlogo
                <img src="img/ldpr.png">
              .caption 
                |Либерально-демократическая партия Российской Федерации 
            .col-xs-3
              .partlogo
                <img src="img/sr.png">
              .caption 
                |Политическая партия Справедливая Россия 
        .row
          div(class="col-xs-8 col-xs-offset-2")      
            .col-xs-3
              .partlogo
                <img src="img/rodina.png">
              .caption 
                |Всероссийская политическая партия «Родина»
            .col-xs-3
              .partlogo
                <img src="img/platf.png">
              .caption 
                |Политическая партия «Гражданская платформа»
            .col-xs-3
              .partlogo
                <img src="img/onf.png">
              .caption 
                |Общероссийский народный фронт
            .col-xs-3
              .partlogo
                <img src="img/rosteh.png">
              .caption 
                |Госкорпорация «Ростех»  
      div(class="container geo")                   
        .geocont
            div(class="col-xs-10 col-xs-offset-1").bordered-bottom-small
              .mainH2
                | География работы: 
            div(class="col-xs-8 col-xs-offset-2").logosliderCont
              div(id="carousel-example-generic-geo" class="carousel slide" data-ride="carousel")
                div(class="carousel-inner")
                  div(class="item active")
                    .col-xs-3
                      .partlogo
                        <img src="img/altay.jpg">
                      .caption 
                        |Алтайский край
                    .col-xs-3
                      .partlogo
                        <img src="img/amur.jpg">
                      .caption 
                        |Амурская область
                    .col-xs-3
                      .partlogo
                        <img src="img/kostroma.jpg">
                      .caption 
                        |Костромская область
                    .col-xs-3
                      .partlogo
                        <img src="img/krasnodar.jpg">
                      .caption 
                        |Краснодарский край
                  div(class="item")
                    .col-xs-3
                      .partlogo
                        <img src="img/mordovia.jpg">
                      .caption 
                        |Республика Мордовия
                    .col-xs-3
                      .partlogo
                        <img src="img/msk.jpg">
                      .caption 
                        |Город Москва
                    .col-xs-3
                      .partlogo
                        <img src="img/mo.jpg">
                      .caption 
                        |Московская область
                    .col-xs-3
                      .partlogo
                        <img src="img/samara.jpg">
                      .caption 
                        |Самарская область 
                  div(class="item")
                    .col-xs-3
                      .partlogo
                        <img src="img/ekb.jpg">
                      .caption 
                        |Свердловская область
                    .col-xs-3
                      .partlogo
                        <img src="img/tat.jpg">
                      .caption 
                        |Республика Татарстан
                    .col-xs-3
                      .partlogo
                        <img src="img/amur.jpg">
                      .caption 
                        |Амурская область
                    .col-xs-3
                      .partlogo
                        <img src="img/khv.jpg">
                      .caption 
                        |Хабаровский край            
                .prev
                  a(class="left carousel-control" href="#carousel-example-generic-geo" data-slide="prev")
                    <img src="img/prev.png">
                .next
                  a(class="right carousel-control" href="#carousel-example-generic-geo" data-slide="next")
                    <img src="img/next.png">      
            div(class="col-xs-8 col-xs-offset-2 ordermain")
              .orderbutton
                a(href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".contactmodal") Заказать консультацию
      div(class="maincont container")  
        footer
          .row
            div(class="col-xs-12 mainfoot") | +7 (495) 649-83-74  | info@burcon.ru |
      include partials/modal_contact.jade 
script $(function(){ $('#carousel-example-generic').carousel({interval: 5000}); $('#carousel-example-generic-geo').carousel({interval: 5000}) });             