doctype html
html
    include partials/cab_head.jade
    body
      div(class="maincont container")
        header
          .row
            div(class="col-xs-12")
              <a href="./index.html" class="logo_desktop"><img src="img/logo.jpg"></a>
          .row
            div(class="col-xs-12")
              .logo_mobile <a href="#"><img src="img/logo.jpg"></a>
              p.mainheader
                | Bureau Babkin News
              p.mainsubhead
                span  
                  | политический консалтинг 
           .row
             div(class="col-xs-12")
               nav.navbar
                 ul(class="nav navbar-nav")
                   li
                     | <a href="./about.html">О бюро</a>
                   li
                     | <a href="./uslugi.html">Услуги</a>
                   li
                     | <a href="./contacts.html">Связаться</a>       
           .row
             div(class="col-xs-12")
               p.whoWhom
                 span
                   | для кого мы работаем:
               div(class="col-xs-4 mainCandidat" onclick="location.href='./kandidatam.html'")
                 include partials/candidFlip.jade 	
               div(class="col-xs-4 mainFlag")
                 include partials/flag.jade   	
               div(class="col-xs-4 mainParti")
                 include partials/parties.jade
              
           .row
             include partials/footer_index.jade     