doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Избирательные<br> кампании
        .row
          div(class="col-xs-4")
            <img src="img/izbir_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Бюро оказывает весь спектр услуг по подготовке и проведению избирательных кампаний для наших клиентов. Мы понимаем современную избирательную кампанию как комплексный подход, который включает аналитику, оценку рисков, социологию, связи с органами государственной власти, связи с общественностью, информационные и цифровые технологии и много другое все ради достижения лучших результатов нашими клиентами.     
    include partials/footer_inner_fixed.jade     