doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-sm-10 col-sm-offset-1 col-xs-12")
        .textitem
          .row
            div(class="col-sm-4 pagehead")
              h2
                |Избирательные<br> кампании
          .row
            div(class="col-sm-4 pageimage")
              <img src="img/izbirbig1.jpg" class="img-responsive"> 
            div(class="col-sm-8")
              p.bigFl
                |Бюро имеет богатый опыт в области политического консультирования и проведения избирательных кампаний. Мы учитываем все особенности российского избирательного законодательства, отслеживаем судебную практику в рамках проходящих избирательных кампаний, понимаем региональную специфику и располагаем всем необходимым набором инструментов для проведения успешных избирательных кампаний.
              p 
                |Наша работа в рамках избирательных кампаний всегда основана на данных качественных и количественных исследований территории, на которой проходят выборы. Мы работаем с хирургической точностью: в нашем арсенале аналитика, оценка рисков, социология, связи с органами государственной власти, связи с общественностью, информационные и цифровые технологии. Мы не предсказатели, но понимаем тенденции, делаем выводы и даем близкие к реальным оценки результатов выборов.
              p
                |Наша работа проходит в несколько этапов
              p 1.  Подготовка
              p Обзор базовых условий ведения избирательной кампании, предварительная работа с кандидатом, определение бюджета. 
              p 2.  Оценка
              p
                ul 
                  li Разработка стратегии кампании
                  li Социологический мониторинг общественного мнения
                  li Оценка наиболее серьезных проблемных точек территории
                  li Выявление лидеров общественного мнения
                  li Оценка отношения электората к потенциальным конкурентам 
                  li Swot-анализ конкурентов
                  li Фокус-группы
                  li Составление психологического портрета кандидата
                  li Анализ информационного поля округа
                  li Анализ электоральной статистики и моделирование электоральной динамики
              p 3.  Реализация
                ul
                  li Выдвижение кандидата 
                  li Помощь в регистрации кандидата
                  li Работа с избирательными комиссиями
                  li Формирование штаба с учетом характера предстоящей кампании
                  li Подготовка избирательной программы кандидата, разработка тем и сообщений
                  li Пропаганда
                  li Позиционирование и построение имиджа кандидата
                  li Тренинги и повышение готовности кандидата к выборам
                  li Повышение позитивной узнаваемости кандидата
                  li Работа с негативными сообщениями и событиями
                  li Построение взаимоотношений со СМИ
                  li Мониторинг СМИ
                  li Подготовка кандидатов к общению со СМИ
                  li Подготовка и проведение мероприятий: митинги, шествия, пикеты, круглые столы, пресс-конференции, деловые завтраки и др.
              p 4.  Результат
              p Подготовка финансового отчета о проведенных работах, оценка результативности предпринятых действий, подведение итогов. 

            .pull-right 
              a(href="./uslugi.html") ← К списку услуг         
    include partials/footer_inner_fixed.jade     