doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-xs-10 col-xs-offset-1")
        .textitem
          .row
            div(class="col-xs-4")
              h2
                |Избирательные кампании
              <img src="img/izbir_big.jpg">   
              
            div(class="col-xs-8")
              p.bigFl
                |Бюро оказывает весь спектр услуг по подготовке и проведению избирательных кампаний. Мы понимаем современную избирательную кампанию как комплексный подход, который включает аналитику, оценку рисков, социологию, связи с органами государственной власти, связи с общественностью, информационные и цифровые технологии и много другое все ради достижения лучших результатов нашими клиентами.
              .pull-right
                a(href="#") Читать подробно
        div(class="col-xs-5")
          .textitem
          .row
              h2
                |Аналитика и прогнозирование
          .row
            .imgCenter
              <img src="img/analit-big.jpg" class="img-center"> 
            p.bigFl
              |Аналитическая поддержка используется для того, чтобы разработать политическую стратегию и определить, как и каким образом клиент может внести свой вклад в политический процесс. Аналитическая поддержка дает возможность найти новые направления для политического роста, а также выявить проблемы, которые могут встретиться на пути. Базис нашей работы - это комплексные исследования, анализ политических рисков, мониторинг и прогнозирование политической ситуации в России и за рубежом. Мы гарантируем то, что наши клиенты будут вооружены самой свежей информацией по интересующей тематике. 
            .pull-right
                a(href="#") Читать подробно  
        div(class="col-xs-5 col-xs-offset-1") 
          .textitem
          .row
              h2
                |Политическое консультирование
          .row
            .imgCenter
              <img src="img/consult-big.jpg" class="img-center"> 
            p.bigFl
              |Специалисты бюро ориентированы на консультирование по вопросам текущей деятельности официальных лиц. Мы стремимся к тому, чтобы сформировать позитивный образ и имидж политика, через поиск информационных поводов, подготовку и реализацию политических проектов, построение выгодных коммуникаций. 
            .pull-right
                a(href="#") Читать подробно  
        .clearfix                     
        .textitem
          .row
            div(class="col-xs-4")
              h2
                |Связи с общественностью
          .row
            div(class="col-xs-4")
              <img src="img/prgr_big.jpg"> 
            div(class="col-xs-8")
              p.bigFl
                |Мы верим в то, что наши клиенты должны не только реагировать на тренд, но и создавать новостную повестку дня, а значить фокусировать внимание и воображение целевой аудитории. Наша задача сделать так, чтобы мессежд наших клиентов был доступен и понятен той аудитории, к которой они обращаются. 
              .pull-right
                a(href="#") Читать подробно  
        div(class="col-xs-12")
          div(class="col-xs-4") 
            .textitem
              
                  h2
                    |пресс-служба
    
                  <img src="img/smi_big.jpg" class="img-responsive"> 
                  p.bigFl
                    |Для того, чтобы наши клиенты могли участвовать в новостной повестке дня, мы регулярно монитором и анализируем средства массовой информации. Благодаря этому мы можем гарантировать, то, что наши клиенты дадут ту информацию или экспертное мнение, которое будет полезным и интересным для журналистов. Мы считаем, что наши клиенты — это лучшие спикеры. Но при необходимости, мы предлагаем участие в тренингах по мастерству публичных выступлений, написание речей и разработку презентаций. 
                  .pull-right
                    a(href="#") Читать подробно  
          div(class="col-xs-4") 
            .textitem
              
                  h2
                    |digital media
    
                  <img src="img/media_big.jpg" class="img-responsive"> 
                  p.bigFl
                    |Цифровые инструменты полностью интегрированы в нашу повседневную жизнь. Интернет пространство и социальные медиа стали эффективной площадкой для заявления о себе и своих проектах.  В сети формируется активная общественная дискуссия и ведется работа с целевой аудиторией. Мы разрабатываем и ведем онлайн платформы для того, чтобы сформировать структурный, проектный или личностный цифровой имидж и заставить ваш месседж быть услышанным. Сотрудники Бюро помогут наладить рост популярности в интернете и предупредят о социальных кризисах и рисках. 
                  .pull-right
                    a(href="#") Читать подробно  
          div(class="col-xs-4")
            .textitem
              
                  h2
                    |event-менеджмент
             
                  <img src="img/event_big.jpg"> 
                
                  p.bigFl
                    |Бюро организовывает мероприятий любого масштаба и сложности от небольших деловых завтраков или круглых столов, до крупных съездов, конференций или форумов. В тесном сотрудничестве с нашими клиентами мы подготовим концепцию, проведем бюджетирование, привлечем поставщиков и займемся управлением мероприятия на месте. Нашим основным принципом является то, что мероприятие не должно проводиться ради “мероприятия”, а должно быть направлено на достижение нашими клиентами своих целей и кооперации с заинтересованными сторонами.
                  .pull-right
                    a(href="#") Читать подробно           
        .clearfix
        .textitem
          
          .row
            div(class="col-xs-4")
              <img src="img/creative_big.jpg"> 
            div(class="col-xs-8")
               h2
                |Креативный центр
              p.bigFl
                |Для нас поиск ключей к успеху клиентов является определяющим фактором нашей работы. Именно поэтому мы используем весь накопленный опыт и современные технологии для создания продукта, который будет удовлетворять потребности наших клиентов и их аудиторий.   
              .pull-right
                a(href="#") Читать подробно   
        .row
          div(class="col-xs-4 col-xs-offset-4").clocktext
            .orderbutton
              a(href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".contactmodal") Заказать консультацию              
         
        
                    
    
        

            
    
    include partials/footer_inner_fixed.jade    