doctype html
html
  include partials/cab_head.jade
  body
    div(class="clients_cont container")
      include partials/head_inner.jade
      .news_main_head_inner
        h2.newsandanalyt Новости и аналитика
        h2.analitonly Аналитика Б.С.К
        
        //-левая колонка
      .row  
        div(class="col-md-8")
          .main_post
            img(src="img/post1.jpg" class="img-responsive")
            .black-gradient
            .main_post_head   
              h3 Партнеры БСК о вопросах международной безопасности
              p Партнеры БСК о вопросах международной безопасностиAnt dollaciunt laccaest, sa nem nonsequ ibusam corum nonsedi occuptur? Qui offici doluptat.  
          .row
            div(class="col-xs-6")
              .small_post
                img(src="img/small1.jpg" class="img-responsive")
                .black-gradient
                .main_post_head   
                  h3 Партнеры БСК о вопросах международной безопасности 
              .small_post_date 19.11.2015   
            div(class="col-xs-6")  
              .small_post 
                img(src="img/news_left.jpg" class="img-responsive")
                .black-gradient
                .main_post_head   
                  h3 Партнеры БСК о вопросах международной безопасности
              .small_post_date 19.11.2015 
          .row
            div(class="col-xs-6")
              .orangeButton
                a(class="btn btn-primary" href="#" role="button") Больше аналитики
            div(class="col-xs-6")
              .blueButton
                a(class="btn btn-primary" href="#" role="button") Рассылка Б.С.К.
          .row
            .col-xs-12.weekimage
              h2 Картинка недели:
              img(src="img/week.jpg" class="img-responsive week_image")
              .piccaption Подпись к фото
              .piccaption Источник       
         
        //-правая колонка
        div(class="col-md-4 news_right_inner")
          div(class="news_right_item")
            img(src="img/news_left.jpg" class="img-responsive")
            h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
            .news_right_item_date 18.09.2015
            p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
          div(class="news_right_item" )
            img(src="img/news_left.jpg" class="img-responsive")
            h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
            .news_right_item_date 18.09.2015
            p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
          div(class="news_right_item")
            img(src="img/news_left.jpg" class="img-responsive")
            h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
            .news_right_item_date 18.09.2015
            p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.
          div(class="news_right_item")
            img(src="img/news_left.jpg" class="img-responsive")
            h3 АНКАРА ВЫЗВАЛА РОССИЙСКОГО ПОСЛА ИЗ-ЗА НАПАДЕНИЙ НА ПОСОЛЬСТВО
            .news_right_item_date 18.09.2015
            p Министерство иностранных дел Турции вызвало российского посла в связи с нападениями на посольство в Москве и консульство в Новороссийске. Турция потребовала, чтобы Россия обеспечила защиту дипломатическим миссиям в соответствии с международным правом.   
      
    div(class="maincont container")  
      include partials/footer_inner_fixed.jade         