doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-md-10 col-md-offset-1")
        .usltop
          h1 Официальным лицам
      div(class="col-xs-10 col-xs-offset-1 mixcont")
        .textitem
          .row
            div(class="col-xs-4")
              h2
                |Избирательные кампании
              <img src="img/izbir_big.jpg">   
              
            div(class="col-xs-8")
              p.bigFl
                |Бюро имеет богатый опыт в области политического консультирования и проведения избирательных кампаний. Мы учитываем все особенности российского избирательного законодательства, отслеживаем судебную практику в рамках проходящих избирательных кампаний, понимаем региональную специфику и располагаем всем необходимым набором инструментов для проведения успешных избирательных кампаний.
              p 
                |Наша работа в рамках избирательных кампаний всегда основана на данных качественных и количественных исследований территории, на которой проходят выборы. Мы работаем с хирургической точностью: в нашем арсенале аналитика, оценка рисков, социология, связи с органами государственной власти, связи с общественностью, информационные и цифровые технологии. Мы не предсказатели, но понимаем тенденции, делаем выводы и даем близкие к реальным оценки результатов выборов.
              .pull-right
                a(href="./izbiratelnye-kampanii.html") Читать подробно
        div(class="col-xs-5")
          .textitem
            .row
                h2
                  |Аналитика и прогнозирование
            .row
              .imgCenter
                <img src="img/analit-big.jpg" class="img-center"> 
              p.bigFl
                |Понимание ситуации — залог успеха любого проекта. Именно поэтому мы уделяем огромное внимание подготовке аналитических материалов, разработке и проведению исследований, прогнозированию ситуации. Базис нашей работы — это комплексные междисциплинарные исследования, качественный анализ политических рисков, мониторинг и прогнозирование политической ситуации в России и за рубежом.  Среди сотрудников бюро кандидаты и доктора наук, профессора и преподаватели ведущих российских ВУЗов. Мы не экономим на исследованиях, потому что они закладывают фундамент будущего успеха. Мы гарантируем, что наши клиенты будут располагать самой свежей информацией в рамках реализуемого проекта. 
              .pull-right
                  a(href="./analiticheskaya-podderzhka.html") Читать подробно  
        div(class="col-xs-5 col-xs-offset-1") 
          .textitem
            .row
                h2
                  |Политическое консультирование
            .row
              .imgCenter
                <img src="img/consult-big.jpg" class="img-center"> 
              p.bigFl
                |Мы предлагаем нашим клиентам комплекс мер, позволяющих выйти на качественно новый политический уровень. Для наших клиентов из органов законодательной власти мы предлагаем организацию работы в избирательном округе после победы на выборах, построение реально функционирующих общественных приемных, аппарата и секретариата, подготовку материалов для участия в мероприятиях, общения со СМИ, разработку информационных поводов проведение мероприятий, формирование и сопровождение цифрового имиджа. Все эти виды деятельности должны быть увязаны между собой: только так можно добиться постоянного присутствия в политическом поле и медиа, существенно повысить шансы для дальнейшего построения успешной политической карьеры. 
              .pull-right
                  a(href="./politicheskoe-konsultirovanie.html") Читать подробно  
        .clearfix                     
        .textitem
          .row
            div(class="col-xs-4")
              h2
                |Связи с общественностью
          .row
            div(class="col-xs-4")
              <img src="img/prgr_big.jpg"> 
            div(class="col-xs-8")
              p.bigFl
                |Мы уверены, что наши клиенты должны не только реагировать на тренды, но и создавать новостную повестку. Мы генерируем информационные поводы, привлекаем к ним внимание медиа, обеспечиваем информационную поддержку со стороны дружественных структур. В нашем арсенале пресс-конференции и пресс-завтраки, пресс-туры и брифинги, форумы и «круглые столы». Наши клиенты проводят мероприятия на лучших площадках, обеспечивающих достойный уровень за разумные деньги. Целевая аудитория находится в постоянном диалоге и эмоциональной связи с органами государственной власти, персонами и политическими партиями. Поэтому у Бюро во главе угла стратегические и тактические цели наших заказчиков, для достижения которых мы запускаем индивидуальные коммуникационные стратегии.
              .pull-right
                a(href="./pr-i-gr.html") Читать подробно  
        div(class="col-xs-12")
          div(class="col-xs-4") 
            .textitem
              
                  h2
                    |пресс-служба
    
                  <img src="img/smi_big.jpg" class="img-responsive"> 
                  p.bigFl
                    |Мы готовы к режиму работы в качестве пресс-службы для любой структуры, обеспечивая при этом профессионализм, оперативность работы, конфиденциальность и абсолютную надежность. С нами у клиентов из различных отраслей нет необходимости содержать громоздкий департамент, нанимать дорогостоящих специалистов на полный рабочий день. Подобное решение позволяет существенно оптимизировать бюджет на взаимодействие с медиа, получив при этом реально эффективную пресс-службу. Это направление особенно актуально для организаторов крупных мероприятий. 
                  .pull-right
                    a(href="./press-sluzhba.html") Читать подробно  
          div(class="col-xs-4") 
            .textitem
              
                  h2
                    |digital media
    
                  <img src="img/media_big.jpg" class="img-responsive"> 
                  p.bigFl
                    |Интернет-пространство и социальные медиа стали частью нашей повседневной жизни, площадкой для заявления о себе и своих проектах. В сети формируется активная общественная дискуссия. Мы разрабатываем и ведем онлайн платформы для того, чтобы сформировать структурный, проектный или личностный цифровой имидж. Сотрудники Бюро Стратегических Коммуникаций помогут наладить рост популярности в интернете и предупредят о социальных настроениях. Важнейшую роль в данном случае играет качество контента, который специфичен для каждого виртуального сообщества. Бюро профессионально создает целевой контент для онлайн-аудитории и доносит его до конечного потребителя.  
                  .pull-right
                    a(href="./digital-media.html") Читать подробно  
          div(class="col-xs-4")
            .textitem
              
                  h2
                    |event-менеджмент
             
                  <img src="img/event_big.jpg"> 
                
                  p.bigFl
                    |Бюро Стратегические Коммуникации организовывает «под ключ» мероприятие любой сложности и масштаба, от делового завтрака до партийного съезда или бизнес-форума. Качественное бюджетирование позволяет нам оставаться в пределах установленной сметы, выстроенная база подрядчиков и площадок — предлагать нашим клиентам оптимальный набор услуг при стабильно высоком качестве. Все наши мероприятия нацелены на результат, а не на процесс: мы добиваемся достижения нашими клиентами поставленных целей и кооперации с заинтересованными сторонами. Таким образом, мы вводим фактор объективной целесообразности, прикладного назначения и максимальной рентабельности уже на стадии создания идеи, что в конечном счете, в сочетании с профессиональным менеджментом, обеспечивает успех мероприятия. 
                  .pull-right
                    a(href="./organizaciya-meropriyatii.html") Читать подробно           
        .clearfix
        .textitem
          .row
            div(class="col-xs-8")
              h2
                |Маркетинг территорий
              p.bigFl
                |Маркетинг территорий — новый для России вид деятельности, нацеленный на повышение инвестиционной и туристической привлекательности территориальных образований. Мы разрабатываем бренды областей, городов, районов, культурных и исторических памятников, организуем маркетинговые кампании, обеспечиваем публикации в СМИ и блогосфере,  ведем системную работу по привлечению туристических потоков на территории, с которыми мы работаем. Мы определяем конкурентные преимущества и помогаем нашим клиентам рассказать о них своим целевым аудиториям, установить качественную коммуникацию с прессой и экспертным сообществом.    
              .pull-left
                a(href="./brendirovanie-territorii.html") Читать подробно  
            div(class="col-xs-4")
              <img src="img/brandingbig1.jpg">    
        .textitem
          .row
            div(class="col-xs-4")
              <img src="img/creative_big.jpg"> 
            div(class="col-xs-8")
               h2
                |Креативный центр
              p.bigFl
                |Зачастую для того, чтобы добиться успеха, компании или политику необходим свежий профессиональный взгляд со стороны. Внешний аудит позволяет не только выявить недочеты, но и разработать новые решения. Часто именно независимая компания предлагает наиболее творческие, инновационные решения, позволяющие эффективно добиться поставленных целей. Творческий потенциал Бюро позволяет нашим клиентам быть уверенными в том, что их избирательные и маркетинговые кампании... 
              .pull-right
                a(href="./creative-centre.html") Читать подробно   
        .row
          div(class="col-xs-4 col-xs-offset-4").clocktext
            .orderbutton
              a(href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".contactmodal") Заказать консультацию 
      .mixcont-min
        .row
          .col-xs-6.col-sm-4.usl
            a(href="./creative-centre.html")
              .creative 
                img(src="img/uslugi_icons/creative.png" class="img-responsive")
              .uslCaption Креативный центр 
          .col-xs-6.col-sm-4.usl
            a(href=".//digital-media.html")
              .creative
                img(src="img/uslugi_icons/dig_media.png" class="img-responsive")
              .uslCaption Digital media
          .col-xs-6.col-sm-4.usl
            a(href="./brendirovanie-territorii.html")
              .creative
                img(src="img/uslugi_icons/branding.png" class="img-responsive")
              .uslCaption Маркетинг территорий
          .col-xs-6.col-sm-4.usl
            a(href="./politicheskoe-konsultirovanie.html")
              .creative
                img(src="img/uslugi_icons/polit_consult.png" class="img-responsive")
              .uslCaption Политическое консультироваиние
          .col-xs-6.col-sm-4.usl
            a(href="./izbiratelnye-kampanii.html")
              .creative
                img(src="img/uslugi_icons/izbir.png" class="img-responsive")
              .uslCaption Избирательные кампании
          .col-xs-6.col-sm-4.usl
            a(href="./pr-i-gr.html")
              .creative
                img(src="img/uslugi_icons/prgr.png" class="img-responsive")
              .uslCaption Связи с общественностью
          .col-xs-6.col-sm-4.usl
            a(href="./analiticheskaya-podderzhka.html")
              .creative
                img(src="img/uslugi_icons/analytical.png" class="img-responsive")
              .uslCaption Аналитика и прогнозирование  
          .col-xs-6.col-sm-4.usl
            a(href="./press-sluzhba.html")
              .creative
                img(src="img/uslugi_icons/press_sluzhba.png" class="img-responsive")
              .uslCaption Пресс-служба
          .col-xs-6.col-sm-4.usl
            a(href="./organizaciya-meropriyatii.html")
              .creative
                img(src="img/uslugi_icons/event_man.png" class="img-responsive")
              .uslCaption EVENT-МЕНЕДЖМЕНТ                       
        .row
          .clocktext
            .orderbutton
              a(href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".contactmodal") Заказать консультацию  
        
    
    include partials/modal_contact.jade      
    include partials/footer_inner_fixed.jade    