doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |организация мероприятий
        .row
          div(class="col-xs-4")
            <img src="img/event_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Бюро организовывает мероприятий любого масштаба и сложности от небольших деловых завтраков или круглых столов, до крупных съездов, конференций или форумов. В тесном сотрудничестве с нашими клиентами мы подготовим концепцию, проведем бюджетирование, привлечем поставщиков и займемся управлением мероприятия на месте. Нашим основным принципом является то, что мероприятие не должно проводиться ради “мероприятия”, а должно быть направлено на достижение нашими клиентами своих целей и кооперации с заинтересованными сторонами.   
    include partials/footer_inner_fixed.jade     