doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |организация мероприятий
        .row
          div(class="col-xs-4")
            <img src="img/event_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Яркий политик всегда находится в центре внимания. Для этого нужно генерировать смелые идеи! Формирование вашей политической персоны зависит не только от непосредственной законотворческой работы, но и от организации и участия в самых разнообраных публичных мероприятиях: от конференций и круглых столов до спортивно-туристических и досуговых [событий]. Организация конференции или выезд на Алтай — дело хлопотное и способное отвлечь от решения более насущных ежедневных ворпосов. Бюро Babkin News возьмет на себя техническую часть работы, освободив вам время для более концептуальных занятий. <br> Также в рамках развития межпарламентского сотрудничества специалисты нашего бюро, владеющие всеми ведущими европейскими и азиатскими языками и имеющие соответствующий опыт, помогут в орагнизации международных встреч, семинаров, форумов или конференций. Бюро Babkin News также охотно организует и менее формальные мероприятия.    
    include partials/footer_inner_fixed.jade     