doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Связи с общественностью
        .row
          div(class="col-xs-4")
            <img src="img/prgr_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы верим в то, что наши клиенты должны не только реагировать на тренд, но и создавать новостную повестку дня, а значить фокусировать внимание и воображение целевой аудитории. Наша задача сделать так, чтобы мессежд наших клиентов был доступен и понятен той аудитории, к которой они обращаются.   
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Политическое консультирование
        .row
          div(class="col-xs-4")
            <img src="img/consult_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Специалисты бюро ориентированы на консультирование по вопросам текущей деятельности официальных лиц. Мы стремимся к тому, чтобы сформировать позитивный образ и имидж политика, через поиск информационных поводов, подготовку и реализацию политических проектов, построение выгодных коммуникаций. 
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Креативный центр
        .row
          div(class="col-xs-4")
            <img src="img/creative_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Для нас поиск ключей к успеху наших клиентов является определяющим фактором нашей работы. Именно поэтому мы используем весь накопленный инструментарий и опыт для создания продукта, который будет удовлетворять потребности наших клиентов и их аудиторий.   
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |digital media
        .row
          div(class="col-xs-4")
            <img src="img/media_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Цифровые инструменты полностью интегрированы в нашу повседневную жизнь. Интернет пространство и социальные медиа стали эффективной площадкой для заявлении о себе.  В сети формируется активная общественная дискуссия и ведется работа с целевой аудиторией. Мы разрабатываем и ведем онлайн платформы для того, чтобы сформировать структурный, проектный или личностный цифровой имидж и заставить ваш месседж быть услышанным. Сотрудники Бюро помогут наладить рост популярности в Интернете и предупредят о социальных кризисах и рисках.
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |брендинг территорий
        .row
          div(class="col-xs-4")
            <img src="img/branding_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы помогаем регионам искать новые статьи для наполнения бюджетов. Создание бренда играет определяющую роль на рынке переполненном конкуренцией. Именно поэтому наша стратегия связана с поиском наиболее удачных решений и технологий для того, чтобы выделить сильные стороны нашего клиента, заставить по-новому взглянуть на родные места, привлечь инвесторов и туристов. 
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Избирательные кампании
        .row
          div(class="col-xs-4")
            <img src="img/izbir_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Бюро оказывает весь спектр услуг по подготовке и проведению избирательных кампаний для наших клиентов. Мы понимаем современную избирательную кампанию как комплексный подход, который включает аналитику, оценку рисков, социологию, связи с органами государственной власти, связи с общественностью, информационные и цифровые технологии и много другое все ради достижения лучших результатов нашими клиентами. 
      
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |аналитическая поддержка
        .row
          div(class="col-xs-4")
            <img src="img/analytical_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы используем аналитическую поддержку, чтобы разработать для наших клиентов политическую стратегию и определить, как и каким образом клиент может внести свой вклад в политический процесс. Аналитическая поддержка дает возможность найти новые направления для политического роста, а также выявить проблемы, которые могут встретиться на пути. Базис нашей работы - это комплексные исследования, анализ политических рисков, мониторинг и прогнозирование политической ситуации в России и за рубежом. Мы гарантируем то, что наши клиенты будут вооружены самой свежей информацией по интересующей тематике.
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |пресс-служба
        .row
          div(class="col-xs-4")
            <img src="img/smi_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы регулярно монитором и анализируем средства массовой информации для того, чтобы наши клиенты могли участвовать в новостной повестке дня. Благодаря этому мы можем гарантировать, то, что наши клиенты дадут ту информацию или экспертное мнение, которое будет полезным и интересным для журналистов. Мы считаем, что наши клиенты — это лучшие спикеры. Кроме того, при необходимости, мы предлагаем нашим клиентам тренинги и практики публичных выступлений, написание текстов и разработку презентаций.  
       
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |организация мероприятий
        .row
          div(class="col-xs-4")
            <img src="img/event_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы предлагаем нашим клиентам организацию мероприятий любого масштаба и сложности от небольших деловых завтраков или круглых столов, до крупных съездов, конференций или форумов. В тесном сотрудничестве с нашими клиентами мы подготовим концепцию, проведем бюджетирование, привлечем поставщиков и займемся управлением мероприятия на месте. Нашим основным принципом является то, что мероприятие не должно проводиться ради “мероприятия”, а должно быть направлено на достижение нашими клиентами своих целей и кооперации с заинтересованными сторонами.
      
      
          
    
    include partials/footer_inner_fixed.jade    