doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Политическое консультирование
        .row
          div(class="col-xs-4")
            <img src="img/consult_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Для удержания на вершине политического Олимпа вам необходимо быть частью актуальной повестки и отвечать на запросы избирателей, партии и власти. Срок ваших полномочий ограничен следующим избирательным циклом, за это время надо реализовать намеченные планы и выполнить обещания данные избирателям. <br> Для этого вам понадобится команда политических консультантов — ваш собственный креативный центр, который предложит неординарные решения или механизмы для того, чтобы вы были э в центре внимания общественности и элиты (коллектива).<br>Наши специалисты готовы моментально включиться в процесс и помочь вашей текущей публичной деятельности. <br>Ведь занятие публичной деятельностью формирует зависимость. Кто однажды вошел в мир политки вряд ли захочет его покидать.     
    include partials/footer_inner_fixed.jade     