doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |Связи с общественностью
        .row
          div(class="col-xs-4")
            <img src="img/prgr_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы верим в то, что наши клиенты должны не только реагировать на тренд, но и создавать новостную повестку дня, а значить фокусировать внимание и воображение целевой аудитории. Наша задача сделать так, чтобы мессежд наших клиентов был доступен и понятен той аудитории, к которой они обращаются.     
    include partials/footer_inner_fixed.jade     