doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-xs-10 col-xs-offset-1")
        .textitem
          .row
            div(class="col-xs-4")
              h2
                |Связи с общественностью
          .row
            div(class="col-xs-4")
              <img src="img/prgrbig1.jpg"> 
            div(class="col-xs-8")
              p.bigFl
                |Мы уверены, что наши клиенты должны не только реагировать на тренды, но и создавать новостную повестку. Мы генерируем информационные поводы, привлекаем к ним внимание медиа, обеспечиваем информационную поддержку со стороны дружественных структур. В нашем арсенале пресс-конференции и пресс-завтраки, пресс-туры и брифинги, форумы и «круглые столы». Наши клиенты проводят мероприятия на лучших площадках, обеспечивающих достойный уровень за разумные деньги. Целевая аудитория находится в постоянном диалоге и эмоциональной связи с органами государственной власти, персонами и политическими партиями. Поэтому у Бюро во главе угла стратегические и тактические цели наших заказчиков, для достижения которых мы запускаем индивидуальные коммуникационные стратегии.
              p Особый интерес для нас представляет антикризисный пиар. В случае возникновения трудностей в информационном поле мы помогаем нашим клиентам снизить репутационные издержки, «потушить пожар» в СМИ, перевести общественное внимание на другую тему.
              p Кроме того, мы предлагаем нашим клиентам мониторинг СМИ, качественный анализ публикаций, репутационный аудит.

            .pull-right 
              a(href="./uslugi.html") ← К списку услуг         
    include partials/footer_inner_fixed.jade     