doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |pr и gr
        .row
          div(class="col-xs-4")
            <img src="img/prgr_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Политика на равне с философией древнейшая наука. Именно поэтому познать её полностью просто невозможно. Вокруг политики много направлений способствующих персоне выстроить диалог с социумом и властью ?? <br>В политике не обойтись одной лишь ловкостью рук или умением очаровывать. <br>Построение отношений с обществом и органами государственной власти —  целая наука, требующая фундаментального планирования, гибкости и договороспособности. <br>Дружить со всеми — приемлемая стратегия в политике, дружить с кем нужно и действовать как нужно — выигрышная. <br>Специалисты бюро Babkin News помогут вам сориентироваться в информационном водовороте и наладить позитивные рабочие отношения с организациями гражданского общества и правительственными структурами, иметь которые не просто полезно, но необходимо.     
    include partials/footer_inner_fixed.jade     