doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |пресс-служба
        .row
          div(class="col-xs-4")
            <img src="img/smi_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Политик, не учитывающий в своей работе мнение экспертного и научного сообщества, обречен на близорукость в суждениях и неизбежный провал. Бюро Babkin News объединит представителей гуманитарных и прикладных дисциплин, которые подвергнут вашу текущую политическую деятельность критической ревизии и предложат направления ее последующего развития. Работая в сотрудничестве с рядом высших учебных заведений нашей страны, мы предложим экспертно-аналитическую поддержку вашей текущей или планируемой политической деятельности и поможем сориентироваться в актуальной [отечественной и международной] повестке дня.    
    include partials/footer_inner_fixed.jade     