doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      .textitem
        .row
          div(class="col-xs-4")
            h2
              |пресс-служба
        .row
          div(class="col-xs-4")
            <img src="img/smi_big.jpg"> 
          div(class="col-xs-8")
            p.bigFl
              |Мы регулярно монитором и анализируем средства массовой информации для того, чтобы наши клиенты могли участвовать в новостной повестке дня. Благодаря этому мы можем гарантировать, то, что наши клиенты дадут ту информацию или экспертное мнение, которое будет полезным и интересным для журналистов. Мы считаем, что наши клиенты — это лучшие спикеры. Кроме того, при необходимости, мы предлагаем нашим клиентам тренинги и практики публичных выступлений, написание текстов и разработку презентаций.   
    include partials/footer_inner_fixed.jade     