doctype html
html(lang="ru")
  include partials/cab_head.jade
  body
    include partials/head_inner.jade
    div(class="container textPageCont")
      div(class="col-md-10 col-md-offset-1")
        .textitem
          .row
            div(class="col-md-4")
              h2
                |Правила пользования сайтом
          .row
            div(class="col-md-12 termspage")
              p
                |Добро пожаловать на интернет сайт Бюро Стратегические Коммуникации. 
              p |Пожалуйста, внимательно ознакомьтесь с приведенными ниже правилами прежде чем начать просмотр. Данный сайт может использоваться только в информационных целях. Пользуясь сайтом, Вы автоматический подтверждаете согласие и обязуетесь соблюдать условия, установленные в данном разделе.
              p
                |Настоящий Интернет-ресурс является официальным Интернет сайтом (далее Сайт) Общества с Ограниченной Ответственностью «Политика навсегда» (далее ООО «Политика навсегда»).  
              p
                |В соответствии с условиями данного Соглашения ООО «Политика Навсегда» предоставляет Вам неисключительную лицензию, не подлежащую передаче, с ограниченным правом доступа, использования и демонстрации этого Сайта и его материалов. Вы соглашаетесь не вмешиваться или не пытаться вмешаться в работу Сайта. ООО «Политика навсегда» позволяет Вам просматривать информацию (далее «Материалы») с Сайта только для личного, некоммерческого использования. Это разрешение не предусматривает передачу прав на сами Материалы и копии Материалов и содержит следующие ограничения:
              p
                |а) Вы не должны удалять уведомления об авторском праве и иные уведомления о правах собственности, содержащиеся в Материалах, с каких-либо копий Материалов, скачанных с Сайта;
              p
                |б) Вы не должны никоим образом вносить изменения в Материалы, воспроизводить или демонстрировать их публике, выполнять, распространять или иным образом использовать или передавать их в любых публичных или коммерческих целях; 
              p
                |в) Вы не должны передавать Материалы другим лицам, не поставив их в известность о данных Условиях и не получив от них согласия соблюдать:
              p
                |<strong>Условия пользования Сайтом</strong>
              p
                |Этот Сайт, включая все его Материалы, охраняется действующим законодательством Российской Федерации и международным авторским правом. При пользовании Сайтом Вы соглашаетесь соблюдать законодательство Российской Федерации и все международные законы об авторском праве и не допускать несанкционированного копирования этих Материалов. 
              p
                |<strong>Гарантии пользователей</strong>
              p
                |Вы гарантируете, что будете пользоваться Сайтом в соответствии с настоящим Соглашением, в том числе всеми правилами и положениями настоящего Соглашения, а также соблюдать все существующие и будущие правила и политику пользования Сайтом. Вы соглашаетесь не использовать Сайт:
              p
                |(а) для передачи спама или несанкционированных сообщений;
              p
                |(б) для совершения действий от имени ООО «Политика навсегда» или иных сторон;
              p
                |(в) для фальсификации заголовков или иных манипуляций с идентификационной информацией, с целью сокрытия подлинного источника контента, передаваемого через Сайт;
              p
                |(г) для создания ложного представления о Вашей связи с физическим лицом или организацией;
              p
                |(д) для совершения действий, которые могут отрицательно повлиять на возможность других пользователей пользоваться Сайтом;
              p
                |(е) для осуществления деятельности, нарушающей применимое законодательство;
              p
                |(ё) для размещения или передачи каких-либо материалов, нарушающих права других пользователей, а также незаконных, оскорбительных, клеветнических, грубых или иных предосудительных материалов, либо материалов, содержащих рекламу или навязывание любой продукции или услуг;
              p
                |При несоблюдении вышеперечисленных условий Вы не в праве пользоваться Сайтом, а ООО «Политика навсегда» не несет перед Вами никаких обязательств, обусловленных данным Соглашением, и оставляет за собой все законные права, связанные с таким несоблюдением условий. При нарушении данных Условий пользования, Вы будете обязаны компенсировать компании ООО «Политика навсегда» и ее аффилированным лицам ущерб, нанесенный в результате Ваших действий.
              p
                |<strong>Признание прав интеллектуальной собственности</strong>
              p
                |Вы признаете, что все права на объекты интеллектуальной собственности (включая, в том числе, авторские права, ноу-хау, разработки, конфиденциальную информацию, права на базы данных, а также права на торговые знаки (зарегистрированные или незарегистрированные)) на Сайте принадлежат ООО «Политика навсегда». Деловая репутация компании и права на объекты интеллектуальной собственности, возникающие в результате использования таких прав на объекты интеллектуальной собственности, принадлежащие Bureau Babkin News, имеют юридическую силу в отношении компании ООО «Политика навсегда».
              p
                |<strong>Предоставляемая Вами информация</strong>
              p
                |Любые персональные данные, которые Вы предоставляете компании ООО «Политика навсегда» через этот Сайт, защищены применимым законодательством. Однако Вы не должны передавать компании ООО «Политика навсегда» через Сайт никакую конфиденциальную или служебную информацию. Вы соглашаетесь с тем, что любая информация или материалы, которые Вы или лица, действующие от Вашего имени, предоставят ООО «Политика навсегда», не будет считаться конфиденциальной или служебной информацией. Предоставляя ООО «Политика навсегда» такую информацию или материалы, Вы полностью уступаете и передаете ООО «Политика навсегда» все права на интеллектуальную собственность в отношении этой информации и материалов, и, таким образом, ООО «Политика навсегда» может свободно использовать, воспроизводить, демонстрировать, публично исполнять, передавать, распространять, изменять, уступать и предоставлять лицензии на использование этой информации и материалов. Вы также соглашаетесь с тем, что ООО «Политика навсегда» может свободно использовать любые идеи, концепции, проекты и ноу-хау, которые Вы или лица, действующие от Вашего имени, предоставили ООО «Политика навсегда». Более того, Вы гарантируете, что не будете предоставлять ООО «Политика навсегда» какую-либо информацию или материалы, которые являются дискредитирующими, угрожающими, непристойными, оскорбительными или незаконными в соответствии с применимым законодательством, или материалы, содержащие служебную информацию, являющуюся собственностью иных лиц. 
              p
                |<strong>Безопасность</strong>
              p
                |Вы не должны:
              p
                |(а) использовать какие-либо устройства или программное обеспечение, которое может помешать работе Сайта; или
              p
                |(б) осуществлять какие-либо действия, в результате которых инфраструктура Сайта подвергнется непропорционально большой и необоснованной нагрузке (например, рассылка массовых электронных писем – «спам»), или
              p
                |(в) вмешиваться в работу программного обеспечения Сайта, либо его функциональных элементов, включая размещение на Сайте материалов, зараженных вирусами, вредоносными программами типа или иными элементами, которые могут нанести вред программной структуре Сайта или повлиять на ее работу.
    
    include partials/footer_inner_fixed.jade  