html
    include partials/cab_head.jade
    body
      div(class="modal fade contactmodal in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display:block")
          div(class="modal-dialog modal-lg thanks")
            .modal-content 
              h1 
                span Спасибо!
              p Ваше сообщение доставлено в службу рассмотрения сообщений Бюро Стратегические Коммуникации. Наши специалисты свяжутся с вами в ближайшее время. 
              a(class="btn btn-primary" data-dismiss="modal" href="index.html")
                | OK